.todo-container{
    display:flex;
    flex-direction: column;
    text-align: center;
    gap:30px;
    margin:50px auto;
    width:600px;
}
.todo-tile{
    color:red;
    font-size: 20px;
    font-weight: 600;
}
.todo-new{
    display:flex;
    gap:10px;
    justify-content: center;
}
.todo-new input{
   padding: 8px 10px;
   border-radius: 3px;
   background-color: #EDF2F7;
   border:none;
}
.todo-new button{
   padding: 8px 12px;
   border-radius: 3px;
   background-color: #3D9DEE;
   border:none;
}
.todo-image img{
    width:60px;
    height:auto;
    animation: spin-tron 5s linear infinite;
}
@keyframes spin-tron {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}